<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movirev</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    
    <div class="navbar">

        <div class="logo">
            <a href="/">Movirev</a>
        </div>

        <form class="search-bar" action="/search" method="GET">
            <input type="text" name="movieName" placeholder="Search...">
            <button type="submit"><i class='bx bx-search'></i></button>
        </form>

    </div>

</body>

</html>